body {
    padding: 0;
    margin: 0;
    .gallery {
        display: flex;
        // flex-wrap: wrap;
        .image {
            border: 5px solid green;
            img {
                width: 80%;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
                border: 1px solid #FFFFFF;
                border-radius: 4px;
                margin-left: 2rem;
                margin-top: 2rem;
            }
            button {
                margin-left: 2rem;
                background-color: red;
                border: 1px solid red;
                color: white;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                transition-duration: 0.4s;
                cursor: pointer;
                &:hover {
                    background-color: white;
                    color: red;
                }
            }
        }
    }
    .frmImageUpload {
        background-color: #F9D735;
        width: 400px;
        padding: 10px;
        label {
            font-weight: bold;
            color: #A0A0A0;
        }
    }
    .btnSubmit {
        background-color: #3FA849;
        padding: 4px;
        border: #3FA849 1px solid;
        color: #FFFFFF;
    }
    .inputFile {
        padding: 3px;
        background-color: #FFFFFF;
    }
}