body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    main {
        margin-left: 1rem;
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 10px;
            padding: 10px;
            grid-template-columns: repeat(auto-fill, 20em);
            margin-bottom: 2rem;
        }
        .grid-container > div {
            text-align: center;
            font-size: 30px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 25px;
        }
        .image {
            img {
                width: 80%;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
                border: 1px solid #FFFFFF;
                border-radius: 4px;
                margin-top: 2rem;
            }
            button {
                background-color: red;
                border: 1px solid red;
                color: white;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin-bottom: 1rem;
                transition-duration: 0.4s;
                cursor: pointer;
                &:hover {
                    background-color: white;
                    color: red;
                }
            }
        }
    }
    h1 {
        margin-left: 0.5rem;
    }
    h2 {
        color: red;
    }
    table {
        margin-top: 18%;
        margin-left: auto;
        margin-right: auto;
        tr {
            td{
                .frmImageUpload {
                    margin-bottom: 2rem;
                    label {
                        font-weight: bold;
                        color: black;
                        font-size: 2rem;
                    }
                    .btnSubmit {
                        background-color: #3FA849;
                        padding: 4px;
                        border: #3FA849 1px solid;
                        color: #FFFFFF;
                        cursor: pointer;
                        &:hover {
                            background-color: blue;
                            color: white;
                            border: 1px solid blue;
                        }
                    }
                    .inputFile {
                        padding: 3px;
                        background-color: #FFFFFF;
                    }
                }
                .seeAll{
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    float: left;
                }
            }
        }
    }
    a{
        margin-left: 0.5rem;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}